.Task {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  background: #fff;
  color: #000;
  display: flex;
}

.TaskInfo {
  width: 80%;
}

.TaskActions {
  width: 20%;
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 678px) {
  .Task {
    flex-direction: column;
  }

  .TaskInfo {
    width: 100%;
  }

  .TaskActions {
    width: 100%;
    margin-top: 10px;
    justify-content: flex-end;
  }
}
