.InputContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
  margin-bottom: 20px;
}

.InputContainer label {
  font-size: 18px;
  color: #fff;
}

.InputContainer input,
.InputContainer textarea {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: none;
  font-family: inherit;
  background: #fff;
  color: #000;
  font-size: 16px;
  resize: none;
}

.InputContainer input:focus,
.InputContainer textarea:focus {
  outline: none;
}

.InputError {
  color: red;
  font-size: 14px;
}

.SubmitContainer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
}

.BackBtn,
.SubmitBtn {
  padding: 10px;
  border-radius: 5px;
  border: none;
  background: #fff;
  color: #000;
  font-size: 16px;
  cursor: pointer;
}
