.App {
  background: linear-gradient(45deg, #fe6b8b 30%, #ff8e53 90%);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Main {
  width: 600px;
  min-height: 400px;
  background: #10303c;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.TopBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.Header {
  font-size: 28px;
  color: #fff;
  display: flex;
  align-items: center;
}

.LogoutContainer {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

.LogoutBtn {
  padding: 10px;
  border-radius: 5px;
  border: none;
  background: #fff;
  color: #000;
  font-size: 16px;
  cursor: pointer;
}

@media screen and (max-width: 678px) {
  .Main {
    width: 90%;
  }

  .Header {
    font-size: 18px;
  }
}
