.TaskList {
  max-height: 600px;
  overflow-y: scroll;
}

.TaskList::-webkit-scrollbar {
  width: 10px; /* Width of the scrollbar */
}
.TaskList::-webkit-scrollbar-track {
  background: none; /* Track color (the area behind the scrollbar) */
}

.TaskList::-webkit-scrollbar-thumb {
  background: #888; /* Color of the scrollbar thumb (the draggable part) */
  border-radius: 5px; /* Border radius of the scrollbar thumb */
}
